$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    background-color: black;
}

.container {
    margin: 0 auto;
    height: 700px;
    width: 1100px;
    border-radius: 20px;
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ4RG23GArkLZTBUu8ge8y4zBeMi2ZNrTuHrDHg0U0A8wcn3GLa');
    background-size: cover;
    border: 6px solid #000000;
    border-radius: 11px;
    box-shadow: 0px 0px 300px #540400;
}

#slider {
    margin: 140px auto;
    height: 400px;
    width: 800px;
    overflow: hidden;

}

#slider img {
    height: 400px;
    width: 800px;
    display: none;
    border-radius: 8px 8px;
    
    

}

#slider .is-showing {
    display: inline;
}
 

 

 

 

 


 

 
 

 





