$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    background-color: black;
}


#slider-box {
    margin: 0 auto;
    text-align: center;
    width: 1200px;
    height: 800px;

}

#slider-box img {
    width: 1200px;
    height: 800px;

}

 

 

 

 


 

 
 

 





